.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    /* width: 100vw; */
    background: var(--white);

    padding-bottom: 1rem;
    /* padding-top: 1rem; */
}

.container form{
    /* display: flex; */
    flex-direction: column;
    font-size: 1.6rem;
    
    background: var(--white);

    padding-bottom: 1rem;
}
.container .container-beta{
    background: var(--border);
    border-radius: 1rem;

    
    padding: 3rem;
}

.container #teste{
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;

    text-align: center;
}

.container .form-container{
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: left;

    display: flex;

    flex-direction: column;
}


.container form input{
    border-radius: 1rem;
    font-size: 1.4rem;
    border: 1px solid var(--border)
}
.container form select{
    border-radius: 1rem;
    font-size: 1.4rem;
    border: 1px solid var(--border)
}
.container form textarea{
    border-radius: 1rem;
    font-size: 1.4rem;
    border: 1px solid var(--border);

    resize: none; /*tirar a barrinha do canto*/
    overflow: auto;

}

.container form .form-container .btn{
    text-align: center;
    font-size: 1.6rem;
    color: var(--black);
    background: var(--green);
    border-radius: 1rem;
    border: 1px solid var(--black);

    height: 3rem;
    width: 20rem;
    
    margin-top: 1rem;
}
.container form .form-container .btn:hover{
    background: #0fc93e;
}

.container .form-container .contact-title{
    font-size: 1.6rem;
    color: var(--black);
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 0;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 5rem;
    width: 22rem;

    margin: 0;
}
.msg{
    background: #0fc93e;
    color: var(--white);
    font-size: 1.4rem;
    border: 2px solid var(--border);
    border-radius: 1rem;

    top: 1rem;
    margin-top: .7rem;
    text-align: center;
}

#link-home{
    color: var(--black);
    text-align: center;
    background: red;
    border-radius: 1rem;
    border: 1px solid var(--black);
    
    margin-top: 1rem;
    height: 3rem;
    width: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
#link-home .but{
    background: red;
    font-weight: bold;
    text-align: center;
}