*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* reset do navegador */

html{
    --black: #000;
    --white: #fff;
    --green: #0FA50F;
    --brown: #B9B904;
    --border: #ccc;
    --transition:#1c751c;

    font-size: 62.5%; /*10px*/
}
/* 1 rem = 16px, 16px = 100% User agent */

.sr-only{
    position: absolute; /*iguinora todos os outros elementos*/
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden; /*para não ter barra de rolagem*/
    clip-path: rect(0,0,0,0); /*posicionando ele no canto, top, botoom, left, right*/
    white-space: nowrap;
    border-width: 0;
}

.content{
    width: 100%;
    margin: 0 auto;

    background: var(--white);
}

body {
    min-height: 100vh;
    max-width: 100vw;
    padding-bottom: 100px;
    position: relative;
}

body, header, form, input, button{
    /* intervalo de tamanho */
    font-size: clamp(1.4rem, 1.6rem, 2vw);
    /* 14px é o minimo de tamano,
    1.6rem é o padrão,
    2vw é o maximo */

    font-family: 'Roboto';
}


/* Navbar HEADER*/
#navbar{
    justify-content: space-between;
    background:var(--green);
    
    padding: 3px 0;

    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
    margin-bottom: -0.5rem;
    margin-top: -0.5rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

#navbar .navbar-logo img{
    width: 5rem;
    height: 3rem;
}

#navbar .button img{
    width: 5rem;
    height: 3rem;
    filter: opacity(50%);
}

header{
    background-color: var(--white);
    /* border-bottom: 1px solid var(--border); */
}


#navbar .navbar-nav .nav-item a{
    color: var(--black);
    font-size: 1.6rem;
}
#navbar .navbar-nav .nav-item a:hover{
    color: var(--white);
    font-size: 1.6rem;
    transition: 0.5s;
}

/* Input inicio*/
#search{
    border: .2rem solid var(--border);
    padding: 0 1.6rem;
    height: 4rem;
    border-radius: 1rem;
    width: 60rem;

}


.input-class::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    color: var(--black);
    /* margin: 0 auto; */
    width: 50%;
    opacity: 0.5;

}

.input-class:-moz-placeholder { /* Firefox 18- */
    color: var(--black);
    opacity: 0.5;
    /* margin: 0 auto; */
    width: 50%;
}

.input-class::-moz-placeholder {  /* Firefox 19+ */
    color: var(--black);
    opacity: 0.5;
    /* margin: 0 auto; */
    width: 50%;
}
/* input fim */

/* Teste de feedback ao usuário */
/* .msg{
    background: var(--green);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 800;
    border: 1px solid var(--border);

    width: 50%;
    margin-bottom:0;
    text-align: center;
    padding: 1rem;
} */

/* Footer inicio */
.footer-container{
    /* display: flex; */
    text-align: center;
    background: var(--green);
    color: var(--white);

    padding: 1rem;
    position: absolute;
    bottom: 0; /*Para Não sobrar espaço no fim da pag*/
    width: 100%;
    /* justify-content: center; */
    
}

.footer-container h3{ 
    margin: 0;

    font-size: 1.6rem;

    line-height: 2rem;
}

.footer-container .title{
    margin-bottom: 1rem;
    font-weight: bold;
    
}
.footer-container .sub-title{
    margin-bottom: 1rem;
    opacity: 0.7;
}

/* .bg-footer{
    display: block;
    overflow: hidden;
    line-height: 2rem;
    text-align: center;
    padding: 1.2rem;
    margin: 0 auto;
    width: 97.8rem;
    align-items: center;
    font-size: 1.2rem;
    opacity: 0.5;
} */